{:paths ["src"]
 :deps {datascript/datascript {:mvn/version "1.4.1"}
        org.clojure/tools.cli {:mvn/version "1.0.214"}}
 :aliases {:dev {:extra-paths ["dev" "test"]
                 :extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}
                              cider/cider-nrepl {:mvn/version "0.30.0"}
                              refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}}}}}
